html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    color: #444;
    line-height: 36px
}

a {
    cursor: pointer;
    color: #505050;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out
}

::selection {
    background: #444;
    color: white
}

::-moz-selection {
    background: #444;
    color: white
}

.cf:before,
.cf:after {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

.cf {
    *zoom: 1
}

.table {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    position: absolute
}

.table .cell {
    display: table-cell;
    vertical-align: middle
}

h1 {
    font-size: 44px;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 1
}

span {
    font-weight: 600
}

.avatar {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    background-position: top center;
    background-size: 100% auto;
    margin-bottom: 0px;
    -webkit-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transform: scale(0) rotate(180deg);
    -webkit-transform: scale(0) rotate(180deg);
    -o-transform: scale(0) rotate(180deg);
    -ms-transform: scale(0) rotate(180deg);
    transform: scale(0) rotate(180deg);
    visibility: hidden;
    margin-bottom: -100px;
    opacity: 0
}

.avatar.visible {
    visibility: visible;
    margin-bottom: 0;
    opacity: 1;
    -moz-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg)
}

p {
    font-weight: 400;
    margin-top: 5px;
    color: #CCCCCC;
    margin-bottom: 10px
}

p:last-of-type {
    margin-bottom: 0
}

p a {
    color: #CCCCCC;
    font-weight: 600
}

p a:hover {
    color: #a9a9a9
}

#tweet {
    position: absolute;
    top: 40px;
    right: 40px;
    font-weight: 600
}

#tweet .button {
    -webkit-border-radius: 34px;
    border-radius: 34px;
    padding: 9px 20px 11px 20px;
    line-height: 1;
    background: #ea4c89;
    cursor: pointer;
    margin-right: 10px;
    color: white;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

#tweet .button:hover {
    background: #e51e6b
}

#tweet .count {
    display: inline-block;
    color: #CCCCCC
}

footer {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #CCCCCC;
    z-index: 10;
    line-height: 34px
}

footer a {
    color: #CCCCCC;
    text-decoration: none
}

footer a:hover {
    color: #a9a9a9
}

footer .modal-toggle {
    width: 34px;
    height: 36px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle
}

footer .modal-toggle .dot {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -5px;
    background: #CCCCCC;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: all 500ms cubic-bezier(0.68, 0, 0.265, 1);
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
}

footer .modal-toggle .dot1 {
    left: 0
}

footer .modal-toggle .dot2 {
    left: 50%;
    margin-left: -4px
}

footer .modal-toggle .dot3 {
    left: 100%;
    margin-left: -8px
}

footer .modal-toggle:hover .dot {
    background: #a9a9a9
}

footer .modal-toggle.toggled .dot {
    background: #a9a9a9
}

footer .modal-toggle.toggled .dot1 {
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-top: -1px;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg)
}

footer .modal-toggle.toggled .dot2 {
    opacity: 0
}

footer .modal-toggle.toggled .dot3 {
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-top: -1px;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.overlay {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 5;
    opacity: 0;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    visibility: hidden
}

.overlay.activated {
    opacity: 1;
    visibility: visible
}

.overlay .readme {
    width: 300px;
    line-height: 1.5;
    text-align: left;
    font-size: 14px;
    margin: 0 auto
}

.overlay .readme p {
    color: #444;
    margin-top: 0
}

.overlay .readme p strong {
    font-weight: 600
}

.overlay .readme p.small {
    font-size: 12px;
    color: #CCCCCC
}

.generated {
    position: absolute;
    top: 40px;
    left: 40px;
    color: #CCCCCC;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 1
}

.generated.hidden {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.generated span {
    color: #444444
}

#cry {
    position: absolute;
    bottom: 40px;
    right: 40px;
    overflow: hidden;
    color: #CCCCCC
}

#cry:before {
    background-image: url(images/doge.png);
    position: absolute;
    bottom: -999999px;
    left: -9999999px;
    content: ''
}

#cry .toggle {
    -webkit-border-radius: 36px;
    border-radius: 36px;
    position: relative;
    background: #e3e3e3;
    height: 36px;
    vertical-align: middle;
    margin-left: 20px;
    -webkit-box-shadow: inset 0 0 0 2px #cccccc;
    box-shadow: inset 0 0 0 2px #cccccc;
    width: 60px;
    display: inline-block
}

#cry .toggle .inner {
    width: 36px;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    height: 36px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    -webkit-box-shadow: inset 0 0 0 2px #9ba5a8;
    box-shadow: inset 0 0 0 2px #9ba5a8;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1)
}

#cry .toggle:before {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 36px;
    border-radius: 36px;
    position: absolute;
    top: 0;
    left: 0;
    background: #a0ce6f;
    content: '';
    -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}

#cry .toggle.toggled .inner {
    left: 100%;
    margin-left: -36px
}

#cry .toggle.toggled:before {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.dotted-paper-popover {
    width: 400px;
    position: absolute;
    bottom: 40px;
    background: #fff url(images/dotted-paper-popover.png) top left no-repeat;
    background-size: auto 100%;
    z-index: 100;
    color: black;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    right: 40px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -moz-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -ms-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    -o-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: right bottom;
    -webkit-box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.1)
}

.dotted-paper-popover.hidden {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0)
}

.dotted-paper-popover .dotted-paper-popover-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.3;
    right: 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.dotted-paper-popover .dotted-paper-popover-close:hover {
    opacity: 0.6
}

.dotted-paper-popover .dotted-paper-popover-close:before,
.dotted-paper-popover .dotted-paper-popover-close:after {
    width: 10px;
    height: 2px;
    background: black;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px
}

.dotted-paper-popover .dotted-paper-popover-close:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg)
}

.dotted-paper-popover .dotted-paper-popover-close:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.dotted-paper-popover h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    color: black;
    line-height: 1
}

.dotted-paper-popover p {
    font-size: 14px;
    margin: 10px 0;
    color: #6e7f8e;
    line-height: 1.6;
    font-weight: 400
}

.dotted-paper-popover .dotted-paper-inner {
    float: right;
    width: 55%
}

.dotted-paper-popover .dotted-paper-button {
    padding: 0 15px;
    line-height: 36px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background: #d97d68;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

.dotted-paper-popover .dotted-paper-button:hover {
    background: #cf5a3f
}

.konami {
    position: absolute;
    left:35px;
    bottom:35px;
}
